config classification: not-suspicious,可疑流量,3
config classification: unknown,未知流量,3
config classification: bad-unknown,可能是不良流量,2
config classification: attempted-recon,探测是否存在信息泄漏,2
config classification: successful-recon-limited,可能存在信息泄漏,2
config classification: successful-recon-largescale,大规模信息泄漏,2
config classification: attempted-dos,尝试拒绝服务,2
config classification: successful-dos,拒绝服务,2
config classification: attempted-user,尝试获得用户权限,1
config classification: unsuccessful-use,获取用户权限失败,1
config classification: successful-user,成功获取用户权限,1
config classification: attempted-admin,尝试获得管理员权限,1
config classification: successful-admin,成功获得管理员权限,1
config classification: rpc-portmap-decode,RPC查询的解码,2
config classification: shellcode-detect,存在可执行代码,1
config classification: string-detect,存在可疑字符串,3
config classification: suspicious-filename-detect,存在可疑文件名,2
config classification: suspicious-login,使用可疑的用户名尝试登录,2
config classification: system-call-detect,存在系统接口,2
config classification: tcp-connection,存在TCP连接,4
config classification: trojan-activity,存在木马,1
config classification: unusual-client-port-connection,使用异常端口,2
config classification: network-scan,网络扫描检测,3
config classification: denial-of-service,存在拒绝服务攻击,2
config classification: non-standard-protocol,使用非标准协议或事件,2
config classification: protocol-command-decode,通用协议命令解码,3
config classification: web-application-activity,利用漏洞登录web应用,2
config classification: web-application-attack,攻击web应用,1
config classification: misc-activity,其他活动,3
config classification: misc-attack,其他攻击,2
config classification: icmp-event,常规ICMP事件,3
config classification: kickass-porn,存在色情暴力信息,1
config classification: policy-violation,违反规定,1
config classification: default-login-attempt,尝试弱口令,2
config classification: targeted-activity,存在特殊恶意行为,1
config classification: exploit-kit,存在漏洞利用工具,1
config classification: external-ip-check,存在设备探测外部IP,2
config classification: domain-c2,存在与恶意域名通信,1
config classification: pup-activity,可能存在恶意程序,2
config classification: credential-theft,认证信息被盗取,1
config classification: social-engineering,可能存在社会工程学攻击,2
config classification: coin-mining,存在挖矿行为,2
config classification: command-and-control,存在恶意软件行为,1
config classification: unsuccessful-user,用户权限获取失败,1
